@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;

  }
  
  .parent {
    width: 100vw;
    min-height: 800px;
    background-image: url('images/pattern-background-mobile.svg');
    background-color: hsl(225, 100%, 94%);
    background-repeat: repeat-x;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .child {
    max-width: 350px;
    min-height: 670px;
    text-align: center;
    background-color: #fff;
    border: hsl(225, 100%, 94%);
    border-radius: 15px;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .child > img {
    object-fit: cover;
    width: 100%;
    height: 30%;
    border: inherit;
    border-radius: 15px 15px 0 0;
  }
  .main {
    padding: 30px;
  }
  .main h1 {
    margin-bottom: 10px;
  }
  .main p {
    color: #999;
  }
  .plan {
    background-color: hsl(228, 63%, 97%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 15px;
    border: hsl(228, 63%, 97%);
    border-radius: 8px;

  }
  #plan-left {
    display: flex;

  }
  #plan-text {
    margin-left: 10px;
  }
  span {
      display: block;
  }
  .plan > a:hover {
    text-decoration: none;
    color: hsl(256, 69%, 61%);
  }
  button {
    display: block;
    width: 100%;
    margin: auto;
    margin: 15px 0;
    border: inherit;
    border-radius: 8px;
    padding: 10px 0;
    font-weight: 900;

  }
  #proceed {
      background-color: hsl(245, 75%, 52%);
      color: #fff;
      box-shadow: 0 6px 10px 0 rgba(20, 20, 20, 0.19);
  }
  #proceed:hover {
    background-color: hsl(256, 69%, 61%);

  }
  #cancel {
    background-color: #fff;
    color: #999;

  }
  #cancel:hover {
    color: #333;
  }
  @media screen and (min-width: 760px) {
    .parent {
      background-image: url('images/pattern-background-desktop.svg');
      
    }
    /* .child {
      min-width: 300px;
      min-height: 700px;

    } */
  }
  .attribution { 
    font-size: 11px;
    text-align: center;
    height: 5vh;
    background-color: hsl(225, 100%, 94%);
  }
  .attribution a { color: hsl(228, 45%, 44%); }
